:root {
    --left-margin: calc(1rem + 20px);
    --cmy-gradient: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,0,255,1) 35%, rgba(255,255,0,1) 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'),
        url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

header a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #FFFFFF;
    height: 70px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: var(--cmy-gradient) 1;
}

.navbar-collapse {
    background-color: #FFFFFF;
}

@media (max-width: 767px) {
    #navbar-contents {
        margin-top: 30px;
    }
}

#navbar-name {
    font-weight: 700;
    font-size: 1.3em;
    margin-left: 20px;
}

#navbar-name:hover {
    color: cyan;
}

.nav-link:hover {
    color: magenta;
}

#navbar-icon {
    height: 25px;
}

.section-header {
    display: inline-block;
    padding: 20px 0px;
    margin-top: 10px;
    width: 270px;
    padding-left: var(--left-margin);
}

@media (max-width: 576px) {
    .section-header {
        width: 500px;
    }
}

.cmy-logo-container {
    display: inline;
    position: relative;
    top: 2px;
}

.cmy-logo {
    display: inline-flex;
    flex-direction: row;
}

.cmy-logo > :first-child {
    background-color: cyan;
    width: 10px;
    height: 2rem;
    margin-right: 3px;
}

.cmy-logo > :nth-child(2) {
    background-color: magenta;
    width: 10px;
    height: 2rem;
    margin-right: 3px;
}

.cmy-logo > :nth-child(3) {
    background-color: yellow;
    width: 10px;
    height: 2rem;
}

.content-div {
    margin-top: 30px;
    padding-left: var(--left-margin);
}

.centered {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .background-small {
        padding-left: var(--left-margin);
    }
}

.not-capitalized {
    text-transform: none;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-weight: 600;
}

a {
    color: magenta;
}

a:hover {
    color: black;
    text-decoration: none;
}

.detail-header {
    margin-top: 25px;
    margin-bottom: 10px;
}

.larger-text {
    font-size: 1.5em;
}

.btn {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
    box-shadow: 2px 3px 3px #d4d4d7;
}

/* Homepage section */

.homepage-icon {
    margin: 10px 10px 0px 0px;
    height: 45px;
}

#homepage-header {
    margin-top: 10px;
    padding: 20px 0px;
}

#homepage-icons-div {
    display: flex;
    align-items: center;
}

#github-icon {
    height: 42px;
}

#bio {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Skills section */

.grid-container {
    max-width: 75%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
    padding-bottom: 50px;
}

.grid-header {
    padding-bottom: 10px;
}

.grid-cell {
    display: flex;
    align-items: center;
}

.grid-cell-text {
    padding-left: 10px;
    padding-top: 10px;
}

.icon {
    display: block;
    width: 50px;
}

/* Projects section */

#projects-container {
    display: flex;
    flex-direction: row;
}

.project-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
    padding-bottom: 35px;
}

.project-title {
    margin-bottom: 30px;
}

.project-image {
    min-width: 300px;
    width: 80%;
}

.project-button {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 10px;
}

.project-button-1:hover {
    background-color: cyan;
    border: 1px solid cyan;
}

.project-button-2:hover {
    background-color: magenta;
    border: 1px solid magenta;
}

.project-desc {
    max-width: 80%;
}

.project-item {
    margin-bottom: 0.25rem;
}

#eggsplorer-image {
    border: 1px solid #d4d4d7;
}

/* Resume section */

#resume-div {
    display: flex;
    flex-direction: column;
}

#resume-button {
    width: 200px;
    margin-top: 10px;
}

@media (max-width: 992px) {
    #resume-button {
        margin-top: 0px;
    }
}

#resume-button:hover {
    background-color: cyan;
    border: 1px solid cyan;
}

#embedded-resume {
    box-shadow: 0px 4px 0px #d4d4d7;
}

#embedded-resume-header {
    padding-top: 50px;
    padding-bottom: 10px;
}

@media (max-width: 992px) {
    #embedded-resume-header {
        padding-top: 25px;
    }
}

/* Contact section */

.contact-method {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.contact-method-link {
    margin-left: 20px;
    font-size: 1.2em;
}