@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'),
        url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

header a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-weight: 600;
}

#navbar-contents {
    margin-left: 10px;
}

#navbar-links {
    display: inline;
}

#body-div {
    margin-left: 10px;
}

/* Skills section */

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.icon {
    display: block;
    width: 50px;
}

/* Projects section */

#projects-container {
    display: flex;
}

#eggsplorer-div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#tron-div {
    display: flex;
    flex-direction: column;
}

.project-title {
    margin: auto;
    text-transform: capitalize;
}

.project-image {
    width: 80%;
    margin: auto;
}
