<html>
    <head>
        <title>
            {% block title %} title {% endblock %}
        </title>

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--jQuery and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <div id="navbar-name">
                    <a href="/">Juliette Tripier</a>
                </div>
                <div id="navbar-contents">
                    <ul id="navbar-links">
                        <a href="/skills.html">Skills</a>
                        <a href="/projects.html">Projects</a>
                        <a href="/resume.html">Resume</a>
                        <a href="/contact.html">Contact</a>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="body-div">
            {% block body %}
                body content goes here
            {% endblock %}
        </div>
    </body>
</html>