<html>
    <head>
        <title>
            {% block title %} title {% endblock %}
        </title>

        <link rel="stylesheet" href="/static/style.css"/>

    </head>
    <body>
        <header>
            <nav>
                <a href="/">Juliette Tripier</a>
                <ul id="navbar-links">
                    <a href="/skills">Skills</a>
                    <a href="/projects">Projects</a>
                    <a href="/resume">Resume</a>
                    <a href="/contact">Contact</a>
                </ul>
            </nav>
        </header>
        {% block body %}
            body content goes here
        {% endblock %}
    </body>
</html>