{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="section-header-div header-background">
            <h1 class="section-header">Contact
                <div class="cmy-logo-container">
                    <span class="cmy-logo">
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </div>
            </h1>
        </div>
        <div class="col-11 col-lg-9 content-div background-small" id="contact-method-div">
            <div class="row">
                <div class="col-6 contact-method">
                    <img src="/img/icons/github.png" alt="Github logo" class="icon">
                    <a href="https://github.com/juliettetripier" class="contact-method-link">juliettetripier</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 contact-method">
                    <img src="/img/icons/linkedin.png" alt="LinkedIn logo" class="icon">
                    <a href="https://www.linkedin.com/in/juliette-tripier/" class="contact-method-link">juliettetripier</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 contact-method">
                    <img src="/img/icons/email.png" alt="Email logo" class="icon">
                    <a href="mailto:juli.tripier@gmail.com" class="contact-method-link">juli.tripier@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}