{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}

{% block body %}
<h2>Contact Me</h2>

<div>
    <div>
        <img src="/img/icons/github.png" alt="Github logo" class="icon">
        <a href="https://github.com/juliettetripier">GitHub</a>
    </div>
    <div>
        <img src="/img/icons/linkedin.png" alt="LinkedIn logo" class="icon">
        <a href="https://www.linkedin.com/in/juliette-tripier/">LinkedIn</a>
    </div>
    <div>
        <img src="/img/icons/email.png" alt="Email logo" class="icon">
        <a href="mailto:juli.tripier@gmail.com">Email</a>
    </div>
</div>
    

{% endblock %}