{% extends 'base.html' %}
{% block title %}Huedoku{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="header-background">
            <h1 class="section-header">Huedoku
                <div class="cmy-logo-container">
                    <span class="cmy-logo">
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </div>
            </h1>
        </div>

        <div class="col-11 col-xl-9 mx-auto content-div">
            <p>TEST</p>
        </div>

    </div>
</div>



{% endblock %}