{% extends 'base.html' %}
{% block title %}Juliette Tripier{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 centered">
            <h1 id="homepage-header">Juliette Tripier</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 centered">
            <h3 class="not-capitalized">Software Engineer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 centered" id="homepage-icons-div">
            <a href="https://github.com/juliettetripier">
            <img src="/img/icons/github.png" alt="github icon" class="homepage-icon" id="github-icon">
            </a>
            <a href="https://www.linkedin.com/in/juliette-tripier/">
                <img src="/img/icons/linkedin.png" alt="linkedin icon" class="homepage-icon">
            </a>
            <a href="mailto:juli.tripier@gmail.com">
                <img src="/img/icons/email.png" alt="email icon" class="homepage-icon">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 centered" id="bio">
            <p class="larger-text">Hello! My name is Juliette and I am a programmer 
                who works primarily in Python and JavaScript. I'm a recent bootcamp
                graduate looking for my first full-time software engineering role.
            </p>
            <br/>
            <p class="larger-text">I've been interested in programming my whole life, 
                from writing HTML for my Neopets profile as a child, to learning inline 
                CSS to customize my Tumblr page as a teenager, to writing a stimulus 
                presentation program as part of my undergraduate thesis. 
            </p>
            <br/>
            <h3 class="detail-header">Interests</h3>
            <ul>
                <li class="larger-text">Web development</li>
                <li class="larger-text">System design</li>
                <li class="larger-text">Game development</li>
                <li class="larger-text">Cognitive science</li>
                <li class="larger-text">Emulators</li>
                <li class="larger-text">Drawing and animating</li>
                <li class="larger-text">Low-poly 3D models</li>
                <li class="larger-text">Baking</li>
                <li class="larger-text">Animals</li>
                <li class="larger-text">Playing the drums</li>
            </ul>
        </div>
    </div>
</div>
    
{% endblock %}