{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="header-background">
            <h1 class="section-header">Projects
                <div class="cmy-logo-container">
                    <span class="cmy-logo">
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </div>
            </h1>
        </div>

        <div class="col-11 col-xl-9 mx-auto content-div">
            <div class="row">
                <div class="col-12 col-md-6 project-card">
                    <div class="card h-100">
                        <img class="card-img-top project-card-image" src="/img/huedoku/huedoku-card-thumbnail.png" alt="Huedoku screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Huedoku</h5>
                            <p class="card-text">
                                A colorful spin on Sudoku written in 
                                TypeScript and built with Next.js and React
                            </p>
                        </div>
                        <div class="card-body d-flex align-items-end">                            
                            <a href="/huedoku.html" class="btn btn-primary project-button project-button-1">Detail Page</a>
                            <a href="https://juliettetripier.github.io/huedoku/" class="btn btn-primary project-button project-button-2">Site</a>
                            <a href="https://github.com/juliettetripier/huedoku" class="btn btn-primary project-button project-button-3">Code</a>
                        </div>
                        <div class="card-footer">
                            <span class="tag-list">
                                <p class="tag-label">Tags</p>
                                <p class="project-tag">front-end</p> 
                                <p class="project-tag">react</p>
                                <p class="project-tag">next.js</p>
                                <p class="project-tag">typescript</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 project-card">
                    <div class="card h-100">
                        <img class="card-img-top project-card-image" src="/img/eggsplorer/eggsplorer-card-thumbnail.png" alt="Eggsplorer screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Eggsplorer</h5>
                            <p class="card-text">
                                A full-stack, Python-based Flask application 
                                that allows users to find new restaurants 
                                and track their restaurant visits
                            </p>
                        </div>
                        <div class="card-body d-flex align-items-end">
                            <a href="/eggsplorer.html" class="btn btn-primary project-button project-button-1">Detail Page</a>
                            <a href="https://www.youtube.com/watch?v=rhc7XCFqZMY" class="btn btn-primary project-button project-button-2">Demo</a>
                            <a href="https://github.com/juliettetripier/Hackbright-Project" class="btn btn-primary project-button project-button-3">Code</a>
                        </div>
                        <div class="card-footer">
                            <span class="tag-list">
                                <p class="tag-label">Tags</p>
                                <p class="project-tag">full-stack</p>
                                <p class="project-tag">flask</p>
                                <p class="project-tag">jinja2</p>
                                <p class="project-tag">python</p> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 project-card">
                    <div class="card h-100">
                        <img class="card-img-top project-card-image" src="/img/tron/tron-card-thumbnail.png" alt="Multiplayer Tron screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Multiplayer Tron</h5>
                            <p class="card-text">
                                A Tron clone built from scratch using 
                                pure JavaScript and socket-based networking for 
                                remote multiplayer capabilities
                            </p>
                        </div>
                        <div class="card-body d-flex align-items-end">
                            <a href="/tron.html" class="btn btn-primary project-button project-button-1">Detail Page</a>
                            <a href="https://poised-brook-chartreuse.glitch.me" class="btn btn-primary project-button project-button-2">Site</a>
                            <a href="https://github.com/juliettetripier/multiplayer_tron" class="btn btn-primary project-button project-button-3">Code</a>
                        </div>
                        <div class="card-footer">
                            <span class="tag-list">
                                <p class="tag-label">Tags</p>
                                <p class="project-tag">front-end</p>
                                <p class="project-tag">node.js</p>
                                <p class="project-tag">websocket</p>
                                <p class="project-tag">javascript</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

{% endblock %}