{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block body %}

    <h2>Projects</h2>

    <div id="projects-container">
        <div id="eggsplorer-div" class="project-div">
            <h3 class="project-title">Eggsplorer</h3>
            <img src="/img/eggsplorer/eggsplorer1.png" alt="Screencap of Eggsplorer homepage" class="project-image">
            <div>
                <p>Eggsplorer is a full-stack, Python-based Flask application that allows users to find new restaurants and track their restaurant visits.</p>
                <p>Features include:</p>
                <ul>
                    <li>User creation and login</li>
                    <li>Restaurant search via Yelp Fusion API</li>
                    <li>User-created wishlists and system for tracking restaurant visits</li>
                    <li>Tagging system for restaurants</li>
                    <li>User achievements and achievement leaderboard</li>
                    <li>Unlockable cosmetics for site mascot</li>
                </ul>
            </div>
            <div>
                <h5>Technologies</h5>
                <p><strong>Front End:</strong> HTML, CSS, Jinja2, JavaScript (AJAX, JSON), Bootstrap, Flexbox</p>
                <p><strong>Back End:</strong> Python, Flask, Yelp Fusion API</p>
                <p><strong>Database:</strong> PostgreSQL, SQLAlchemy</p>
            </div>
            <div>
                <h5>Links</h5>
                <a href="https://github.com/juliettetripier/Hackbright-Project">Github Repo</a> 
                <a href="https://github.com/juliettetripier/Hackbright-Project/blob/main/README.md">README</a>
            </div>
        </div>
        <div id="tron-div" class="project-div">
            <h3 class="project-title">Multiplayer Tron</h3>
            <div>
                <p>Description</p>
            </div>
            <div>
                <h5>Technologies</h5>
            </div>
            <div>
                <h5>Links</h5>
            </div>
        </div>
    </div>

{% endblock %}