{% extends 'base.html' %}
{% block title %}Resume{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="header-background">
            <h1 class="section-header">Resume
                <div class="cmy-logo-container">
                    <span class="cmy-logo">
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </div>
            </h1>
        </div>
        <div class="col-11 col-lg-9 content-div background-small" id="resume-div">
            <a class="btn btn-primary btn-lg" role="button" id="resume-button" href="/docs/Juliette Tripier Resume.pdf">Resume PDF</a>
            <h4 class="not-capitalized" id="embedded-resume-header">Embedded Resume</h4>
            <object id="embedded-resume" data="/docs/Juliette Tripier Resume.pdf" width="90%" height="500"></object>
        </div>
    </div>
</div>
{% endblock %}