{% extends 'base.html' %}
{% block title %}Resume{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-3 header-background">
            <h1 class="section-header">Resume</h1>
        </div>
        <div class="col-12 col-lg-8 mt-lg-5 content-div" id="resume-div">
            <a class="btn btn-primary btn-lg" role="button" id="resume-button" href="/docs/Juliette Tripier Resume.pdf">Resume PDF</a>
            <h4 id="embedded-resume-header">Embedded Resume</h4>
            <object data="/docs/Juliette Tripier Resume.pdf" width="90%" height="500"></object>
        </div>
    </div>
</div>
{% endblock %}