{% extends 'base.html' %}
{% block title %}Skills{% endblock %}

{% block body %}

    <h1>Skills</h1>

    <div>
        <h3>Languages</h3>
        <div class="grid">
            <div>
                <img src="/img/icons/python.png" alt="Python logo" class="icon">
                Python
            </div>
            <div>
                <img src="/img/icons/javascript.png" alt="JavaScript logo" class="icon">
                JavaScript
            </div>
            <div>HTML</div>
            <div>CSS</div>
            <div>SQL</div>
            <div>PCL</div>
        </div>
    </div>
    <div>
        <h3>Frameworks and Libraries</h3>
        <div class="grid">
            <div>Flask</div>
            <div>React.js</div>
            <div>Bootstrap</div>
            <div>Jinja2</div>
            <div>SQLAlchemy</div>
            <div>Fastify</div>
        </div>
    </div>
    <div>
        <h3>Database and Industry Tools</h3>
        <div class="grid">
            <div>PostgreSQL</div>
            <div>Socket-based networking</div>
            <div>Git</div>
            <div>GitHub</div>
            <div>Command line</div>
    </div>

{% endblock %}