{% extends 'base.html' %}
{% block title %}Skills{% endblock %}

{% block body %}

    <h1>Skills</h1>

    <div>
        <h3>Languages</h3>
        <div class="grid">
            <div>
                <img src="/img/icons/python.png" alt="Python logo" class="icon">
                Python
            </div>
            <div>
                <img src="/img/icons/javascript.png" alt="JavaScript logo" class="icon">
                JavaScript
            </div>
            <div>HTML
                <img src="/img/icons/html.png" alt="HTML logo" class="icon">
            </div>
            <div>CSS
                <img src="/img/icons/css.png" alt="CSS logo" class="icon">
            </div>
            <div>SQL
                <img src="/img/icons/sql.png" alt="SQL logo" class="icon">
            </div>
            <div>PCL
                <img src="/img/icons/pcl.png" alt="Image of brain" class="icon">
            </div>
        </div>
    </div>
    <div>
        <h3>Frameworks and Libraries</h3>
        <div class="grid">
            <div>Flask
                <img src="/img/icons/flask.png" alt="Flask logo" class="icon">
            </div>
            <div>React.js
                <img src="/img/icons/react.png" alt="React logo" class="icon">
            </div>
            <div>Bootstrap
                <img src="/img/icons/bootstrap.png" alt="Bootstrap logo" class="icon">
            </div>
            <div>Jinja2
                <img src="/img/icons/jinja.png" alt="Jinja logo" class="icon">
            </div>
            <div>SQLAlchemy
                <img src="/img/icons/SQLAlchemy.png" alt="SQLAlchemy logo" class="icon">
            </div>
            <div>Fastify
                <img src="/img/icons/fastify.jpg" alt="Fastify logo" class="icon">
            </div>
        </div>
    </div>
    <div>
        <h3>Database and Industry Tools</h3>
        <div class="grid">
            <div>PostgreSQL
                <img src="/img/icons/postgresql.png" alt="PostgreSQL logo" class="icon">
            </div>
            <div>Socket-based networking
                <img src="/img/icons/websocket.png" alt="Websocket logo" class="icon">
            </div>
            <div>Git
                <img src="/img/icons/git.png" alt="Git logo" class="icon">
            </div>
            <div>GitHub
                <img src="/img/icons/github.png" alt="Github logo" class="icon">
            </div>
            <div>Command line
                <img src="/img/icons/commandline.png" alt="Command Line logo" class="icon">
            </div>
    </div>

{% endblock %}