{% extends 'base.html' %}
{% block title %}Skills{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="header-background">
            <h1 class="section-header">Skills
                <div class="cmy-logo-container">
                    <span class="cmy-logo">
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </div>
            </h1>
        </div>
        <div class="col-11 col-lg-9 content-div background-small">            
            <div class="grid-container">
                <h3 class="grid-header">Languages</h3>
                <div class="grid">
                    <div class="grid-cell">
                        <img src="/img/icons/python.png" alt="Python logo" class="icon">
                        <p class="grid-cell-text">Python</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/javascript.png" alt="JavaScript logo" class="icon">
                        <p class="grid-cell-text">JavaScript</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/typescript.png" alt="TypeScript logo" class="icon">
                        <p class="grid-cell-text">TypeScript</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/html.png" alt="HTML logo" class="icon">
                        <p class="grid-cell-text">HTML</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/css.png" alt="CSS logo" class="icon">
                        <p class="grid-cell-text">CSS</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/sql.png" alt="SQL logo" class="icon">
                        <p class="grid-cell-text">SQL</p>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <h3 class="grid-header">Frameworks and Libraries</h3>
                <div class="grid">
                    <div class="grid-cell">
                        <img src="/img/icons/flask.png" alt="Flask logo" class="icon">
                        <p class="grid-cell-text">Flask</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/react.png" alt="React logo" class="icon">
                        <p class="grid-cell-text">React.js</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/bootstrap.png" alt="Bootstrap logo" class="icon">
                        <p class="grid-cell-text">Bootstrap</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/jinja.png" alt="Jinja logo" class="icon">
                        <p class="grid-cell-text">Jinja2</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/SQLAlchemy.png" alt="SQLAlchemy logo" class="icon">
                        <p class="grid-cell-text">SQLAlchemy</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/fastify.jpg" alt="Fastify logo" class="icon">
                        <p class="grid-cell-text">Fastify</p>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <h3 class="grid-header">Database and Industry Tools</h3>
                <div class="grid">
                    <div class="grid-cell">
                        <img src="/img/icons/postgresql.png" alt="PostgreSQL logo" class="icon">
                        <p class="grid-cell-text">PostgreSQL</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/websocket.png" alt="Websocket logo" class="icon">
                        <p class="grid-cell-text">Sockets</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/git.png" alt="Git logo" class="icon">
                        <p class="grid-cell-text">Git</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/github.png" alt="Github logo" class="icon">
                        <p class="grid-cell-text">GitHub</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/commandline.png" alt="Command Line logo" class="icon">
                        <p class="grid-cell-text">Bash/Linux</p>
                    </div>
                    <div class="grid-cell">
                        <img src="/img/icons/docker.png" alt="Docker logo" class="icon">
                        <p class="grid-cell-text">Docker</p>
                    </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}